body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-image: url(../web-cw-4/img/kuwaitcodes.png);
}
.card {
  /* المطلوب الثاني هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 10px 10px 40px rgb(90, 76, 76); 
  border-radius: 12px;
}

img {
  /* المطلوب الثالث هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow:10px 10px 5px rgb(90, 76, 76) ;
  border-radius: 50%;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
h3:hover{
  transition:all 2s ease-in-out; 
text-shadow: 10px 10px 10px grey
}